body {font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background: hsl(189, 46%, 40%);
width: 100%;
height: 200vh;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 22px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.navbar a:hover{
  color: rgb(255, 72, 0);
  background-color: #000;
  border-radius: 20px;
}

.active {
  background-color: #4CAF50;
  border-radius: 20px;
}

* {
    box-sizing: border-box;
  }
  ul li{
    text-transform: uppercase;
  }
  ul li:hover{
    cursor: pointer;
  }
  .row .act{
    background: rgb(128, 207, 24);
    color: rgb(0, 47, 255);
    font-size: larger;
  }
  img {
    width: 100%;
    height: 210px;
    border-radius: 20px;
  }
  img:hover {
    cursor: pointer;
  }
  
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }
  
@media only screen and (min-width: 500px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
  }
  
@media only screen and (min-width: 800px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (max-width: 600px) {
    .navbar a {
      float: left;
      padding: 22px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      width: 100%;
    }
  }
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  .form-container {
    width: 100%;
    margin: auto;
    background: rgb(25, 164, 245);
    color: rgb(250, 253, 255);
    padding: 10px;
    border-radius: 10px;
}
input:not([type=checkbox]),
select {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    margin-top: 7px;
    border: none;
    border-bottom: 1px solid rgb(31, 153, 6);
    background: rgb(215, 234, 247);
    caret-color: rgb(235, 13, 205);
}
::placeholder {
    color: rgb(22, 75, 247);
}
option {
    color: rgb(113, 4, 146);
}
select {
    margin-top: 10px;
}
input[type=submit]{
    background: rgb(10, 93, 248);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
input[type=submit]:hover{
  background: #000;
  color: rgb(110, 236, 6);
}
.form-container h2 {
    font-weight: 400;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}
  .image-container {
    justify-content: end;
    background: #000;
    position: relative;
    height: 200px;
  }
  
  .text {
    justify-content: end;
    background-color: rgb(202, 20, 20);
    /* color: rgba(82, 49, 233, 0.178); */
    font-size: 5vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }
  .wrong {
      text-transform: uppercase;
      background: rgba(153, 238, 238, 0.5);
      padding: 20px;
  }
  .wrong h1 {
    color: rgb(61, 29, 177);
  }
  .footer {
    width: 100%;
    background-color: rgb(82, 184, 231);
    overflow: auto;
  }
  
  .icons a {
    float: right;
    padding: 10px;
    color: rgb(165, 8, 113);
    text-decoration: none;
  }
  
  .icons a:hover{
    color: rgb(236, 13, 13);
    background-color: #000;
  }
  .email1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.email {
    background-color: #0863e22d;
    height: 220px;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
button{
  background: #000;
  border-radius: 20px;
}